.header {
    @media only screen and (min-width: $bp-tablet) {

    }
}

.section-hero {
    padding: 0.5em 1em;

    & form {
        padding: 1rem 0rem;
    }
}

.section-services {  
    @media only screen and (min-width: $bp-tablet) {
        max-width: 80%;
        margin: auto;
    }

    @media only screen and (min-width: $bp-minDesktop) {
        max-width: 800px;
        margin: auto;

        & .service__list {
            max-width: 80%;
            margin: 2rem auto;
        }
    }
    
}


.section-pricing {
    margin: 2rem auto;
    border-radius: 3px;
    font-size: 1.6rem;
    padding: 1rem;
}

.footer {
    font-size: 1.6rem;
    background-color: $color-gray-4;
}




